In [185]:
import pandas as pd
import numpy as np

In [187]:
df = pd.read_csv("CSV_file/heart.csv")
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [189]:
mean = df.Cholesterol.mean()
mean

198.7995642701525

In [190]:
std = df.Cholesterol.std()
std

109.38414455220337

In [191]:
threshold = mean + 3*std
threshold

526.9519979267626

In [194]:
df[df.Cholesterol > threshold]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [195]:
df.shape

(918, 12)

In [197]:
df1 = df[df.Cholesterol <= threshold]
df1.head(10)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
7,54,M,ATA,110,208,0,Normal,142,N,0.0,Up,0
8,37,M,ASY,140,207,0,Normal,130,Y,1.5,Flat,1
9,48,F,ATA,120,284,0,Normal,120,N,0.0,Up,0

In [198]:
df1.shape

(915, 12)

In [199]:
from sklearn.preprocessing import LabelEncoder

In [201]:
le = LabelEncoder()
df1.loc[:, 'ChestPainType'] = le.fit_transform(df1.ChestPainType).astype('int32')
df1

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,1,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,2,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,1,130,283,0,ST,98,N,0.0,Up,0
3,48,F,0,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,2,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,3,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,0,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,0,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,1,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,2,138,175,0,Normal,173,N,0.0,Up,0

In [202]:
df1.loc[:, 'Sex'] = le.fit_transform(df1.Sex).astype('int32')
df1.loc[:, 'RestingECG'] = le.fit_transform(df1.RestingECG).astype('int32')
df1.loc[:, 'ExerciseAngina'] = le.fit_transform(df1.ExerciseAngina).astype('int32')
df1.loc[:, 'ST_Slope'] = le.fit_transform(df1.ST_Slope).astype('int32')
df1

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,1,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,2,0

In [204]:
X = df1.drop(columns = 'HeartDisease')
X

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope
0,40,1,1,140,289,0,1,172,0,0.0,2
1,49,0,2,160,180,0,1,156,0,1.0,1
2,37,1,1,130,283,0,2,98,0,0.0,2
3,48,0,0,138,214,0,1,108,1,1.5,1
4,54,1,2,150,195,0,1,122,0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1
914,68,1,0,144,193,1,1,141,0,3.4,1
915,57,1,0,130,131,0,1,115,1,1.2,1
916,57,0,1,130,236,0,0,174,0,0.0,1
917,38,1,2,138,175,0,1,173,0,0.0,2

In [205]:
y = df1.HeartDisease
y.head()

0    0
1    1
2    0
3    1
4    0
Name: HeartDisease, dtype: int64

In [209]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)
X

array([[-1.43736051,  0.5153253 ,  0.2286349 , ..., -0.82395333,
        -0.8316562 ,  1.04905332],
       [-0.4804758 , -1.94052184,  1.27463954, ..., -0.82395333,
         0.10549334, -0.59740258],
       [-1.75632207,  0.5153253 ,  0.2286349 , ..., -0.82395333,
        -0.8316562 ,  1.04905332],
       ...,
       [ 0.37008838,  0.5153253 , -0.81736975, ...,  1.21366098,
         0.29292324, -0.59740258],
       [ 0.37008838, -1.94052184,  0.2286349 , ..., -0.82395333,
        -0.8316562 , -0.59740258],
       [-1.65000155,  0.5153253 ,  1.27463954, ..., -0.82395333,
        -0.8316562 ,  1.04905332]])

In [210]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [212]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [215]:
a1 = cross_val_score(LogisticRegression(max_iter=200), X, y, cv=10)
np.average(a1)

0.8304467271858575

In [221]:
a2 = cross_val_score(RandomForestClassifier(n_estimators=20), X, y, cv=10)
np.average(a2)

0.8380793119923554

In [225]:
a3 = cross_val_score(SVC(C=5), X, y, cv=10)
np.average(a3)

0.8501313903487816

In [231]:
from sklearn.decomposition import PCA
pca = PCA(0.95)

In [233]:
X = pca.fit_transform(X)